.basket {

	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid #FFEEF5;
	border-radius: 50%;
	background-color: #fff;

	@media screen and (min-width: 769px) {
		background-color: #FFEEF5;
	}

	&__item {
		font-weight: 300;
		font-size: 11px;
		line-height: 25px;
		color: #000;
	}

	@media screen and (max-width: 1126px) {
		order: 2;
	}
}

.user, .basket {
	@media screen and (min-width: 768px) {
		margin: 0 6px;
	}
}

.order-price {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 11px;
	line-height: 25px;
	color: #fff;

	@media screen and (max-width: 1360px){
		display: none;
	}
} 

.page-list {

	.order-price {
		color: #000;
	}
}

.page-world,
.page-delivery,
.page-bonus {

	.order-price {
		color: #000;
	}

	.basket {
		width: 30px;
		height: 30px;
		/*border: 10px dashed #FFEEF5;
		background-color: #555;*/
		transition: border .3s;
		border: 2px dashed #eee;
		background-color: #fff;

		&:hover {
			border: 2px dashed #ddd; //FFEEF5
			background-color: #fff;
		}
	}
}

