
.category {

	display: flex;
	flex-wrap: wrap;

	&-item {

		width: 33.33333%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		&:last-child {
			display: none;
		}

		@media screen and (max-width: 375px) {
			width: 50%;
			padding: 58px 20px 30px 20px;
		}

		&:last-child {
			@media screen and (max-width: 375px) {
				display: block;
			}
		}

		&:nth-child(3) {
			@media screen and (min-width: 376px) and (max-width: 768px) {
				width: 100%;
			}
		}

		@media screen and (min-width: 376px) {
			width: 50%;
			padding: 58px 20px 30px 20px;	
		}

		@media screen and (min-width: 769px) {
			width: 33.33333%;
			padding: 58px 20px 30px 20px;	
		}

		@media screen and (min-width: 1126px) {
			padding: 108px 20px 50px 20px;
		}


		@media screen and (min-width: 1360px) {
			padding: 130px 20px 50px 20px;
		}

		&__image {
			flex: 0 0 100%;
			display: flex;
			justify-content: center;

			@media screen and (min-width: 320px) {
				margin-bottom: 20px;
			}
			
			@media screen and (min-width: 769px) {
				margin-bottom: 30px;
			}

			@media screen and (min-width: 1126px) {
				margin-bottom: 42px;
			}

			@media screen and (min-width: 1360px) {
				margin-bottom: 70px;
			}

			/*img {

				@media screen and (min-width: 1126px) {
					width: 139px;
					height: 139px;
				}

				@media screen and (min-width: 1360px) {
					width: 169px;
					height: 167px;
				}
	
			}*/
		}

		&__name {
			display: flex;
			justify-content: center;
			flex: 0 0 100%;
			text-align: center;
			font-weight: 400;
			font-size: 11px;
			line-height: 20px;
			margin-bottom: 4px;
			text-transform: uppercase;
			color: #252E3A;

			@media screen and (max-width: 375px) {
				line-height: 16px;
			}
		}

		&__price,
		&__subname {
			display: flex;
			justify-content: center;
			flex: 0 0 100%;
			font-weight: 300;
			font-size: 11px;
			line-height: 20px;
			color: #252E3A;
			text-align: center;
		}
	}
}


.category-1 .category-item {
	&:nth-child(1) {
		background: #F6F6FB;
	}

	&:nth-child(2) {
		background: #FAFAFA;
	}

	&:nth-child(3) {
		background: #FFEEF5;
	}

	&:nth-child(4) {
		background: #F6F6FB;
	}
}

.category-2 .category-item {
	&:nth-child(1) {
		background: #EDF1F9;
	}

	&:nth-child(2) {
		background: #F8F4F0;
	}

	&:nth-child(3) {
		background: #EFF6EF;
	}

	&:nth-child(4) {
		background: #FAFAFA;
	}
}


.category-3 .category-item {
	&:nth-child(1) {
		background: #fff;

		padding-left: 0px;

		@media screen and (max-width: 1160px) {
			padding-left: 20px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
		}

		@media screen and (max-width: 375px) {
			padding-top: 0;
		}
	}

	&:nth-child(2) {
		background: #FAFAFA;

		@media screen and (min-width: 376px) and (max-width: 767px) {
			width: 50%;
		}

		@media screen and (max-width: 375px) {
			display: none;
		}
	}

	&:nth-child(3) {
		background: #FFEEF5;
		@media screen and (min-width: 376px) and (max-width: 767px) {
			width: 50%;
		}

	}

	&:nth-child(4) {
		display: block;
		background: #F6F6FB;

		@media screen and (min-width: 376px) and (max-width: 768px) {
			width: 100%;
		}
	}
}

