.steps {

	.section-heading {
		width: 470px;

		@media screen and (min-width: 1360px) {
			margin-bottom: 50px;
		}

		@media screen and (min-width: 1126px) {
			margin-bottom: 15px;
		}

		@media screen and (max-width: 1125px) {
			width: 75%;
			margin: 0 auto 30px;
			text-align: center;
		}

		@media screen and (max-width: 767px) {
			width: 65%;
		
		}

		@media screen and (max-width: 650px) {
			width: 75%;
		
		}

		@media screen and (max-width: 375px) {
			width: 100%;
			text-align: center;
			margin-bottom: 33px;
		}
		
	}

	.section-subtitle {
		width: 200px;
	}

	&__image {

		display: none;

		@media screen and (max-width: 1125px) {
			display: block;
			text-align: center;
			margin-bottom: 50px;
		}

	}

	.steps-list {
		display: flex;
		margin: 0 auto 50px;

		@media screen and (max-width: 1125px) {
			justify-content: center;
			max-width: 750px;
		}

		@media screen and (max-width: 768px) {
			width: 95%;
		}

		@media screen and (max-width: 520px) {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
			max-width: 375px;
		}

		@media screen and (min-width: 521px) and (max-width: 767px) {
			width: 85%;
		}


		&-item {

			@media screen and (max-width: 520px) {
				width: 100%;
			    margin-bottom: 20px;
			    display: flex;
			}

			@media screen and (min-width: 521px) {
				margin-right: 20px;
			}

			@media screen and (min-width: 521px) and (max-width: 1125px) {
				width: 33.33333%;
			}
			

			@media screen and (min-width: 1126px) {
				margin-right: 60px;
			}

			@media screen and (min-width: 1360px) {
				margin-right: 72px;
			}

			&__num {
				font-weight: 700;
				font-size: 12px;
				line-height: 14px;
				color: #252A3A;
				margin-bottom: 10px;

				@media screen and (max-width: 520px) {
					margin-right: 20px;
					align-self: center;
				}
			}

			&__text {
				font-weight: 300;
				font-size: 12px;
				line-height: 18px;
				text-transform: uppercase;

				@media screen and (max-width: 767px) {
					font-size: 11px;
				}
			}
		}
	}

	&-content {

		padding-top: 20px;

		@media screen and (max-width: 320px) {
			padding: 0 15px;
		}

		@media screen and (max-width: 375px) {
			padding: 0 25px 25px 25px;
		}

		@media screen and (max-width: 768px) {
			padding-top: 0px;
		}

		@media screen and (max-width: 1125px) {
			padding: 20px;
		}

		@media screen and (min-width: 1126px) {
			margin-left: 590px;
		}

		@media screen and (min-width: 1360px) {
			max-width: 770px;
			margin-left: 580px;
			

			.section-heading {
				margin-bottom: 15px;
			}
		}

		.steps__brand-name {
			width: 120px;
			height: 20px;
			margin-bottom: 20px;
			background: url('/_html/app/images/dest/brand_name.svg') no-repeat;

			@media screen and (max-width: 1125px) {
				margin: 0 auto 20px;
			}
		}
	}

	.button {

		@media screen and (max-width: 1125px) {
			margin: 0 auto 70px;
			width: 100%;
			max-width: 375px;
			text-align: center;
			display: block;
		}

		@media screen and (min-width: 1126px) {
			margin-bottom: 180px;
		}

		@media screen and (min-width: 1360px) {
			margin-bottom: 315px;
		}
	}
}