$lightblue : #F6F6FB;
$fontdark: #252A3A;
$white: #ffffff;
$pink: #FFEEF5;
$black: #000000;
$bluegreylight: #9799A7;
$line: #CACED2;
$bluedark:  #263141;
$lightblack: #242424;
$shil: #544236;
$bonusgreen: #108B5F;
$bonusred: #BB2525;

