/*
Как использовать:

<label class="u-radio">
  <input name="my-radio" type="radio">
  <div class="mark"></div>
  <div class="">Моя радиокнопка 1</div>
</label>

*/

.u-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px 0px;

  font-size: 10px;
  line-height: 10px;

  text-transform: uppercase;
  color: $dark;

  input[type=radio] {
    display: none;
  }

  .mark {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 7px;
    box-sizing: border-box;
    background-color: $w;
    border: 1px solid $dark;
    transition: border .2s ease-in-out;
  }

  input[type=radio]:checked + .mark {
    border: 4px solid $dark;
  }
}
